# Django
DEBUG=on
SECRET_KEY=m51uhfc7w+@%=w9aj7z3knc)-zax!1a7+n)us3#91&aj(-n=1b
ALLOWED_HOSTS=[]
DATABASE_URL=sqlite:///db.sqlite3

# 消息通知
MAIL_RECIPIENTS=['xx@xxx.com']
MAIL_SENDER='xxxxx@xxx.com'
MAIL_API_KEY='xxxxx'
MAIL_DOMAIN='xxxxxx'

SERVERCHAN_KEY='xxxxx'

# API Token
TOKEN='xxxxxxxxxxxxxxxxxxxxxx'
