pytz
requests[socks]
djangorestframework
apscheduler
django
aiohttp
coloredlogs
lxml
html5lib
beautifulsoup4
django-environ
django-extensions
sentry-sdk
systemd-python; platform_system == "Linux"
gunicorn[tornado]