<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial_scale=1, shrink-to-fit=no">
    <meta name="description" content="RSS reader based on Django">
    <meta name="author" content="40huo">
    <title>Pixiu -
        {% block title %}
            RSS Reader
        {% endblock %}
    </title>

    <!--css-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>
<body>
{% block body %}
{% endblock %}
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
</body>
</html>